<h1>Login</h1>
<form>
  <input id="email" name="email" type="email" required>
  <input id="password" name="password" type="password" required>
  <button type="submit">Login</button>
</form>

<p>
  <%= link_to 'Record Collection', records_path %>
</p>
